h1 {
    font-size: 150%;
    font-family: "Tomes New Roman", Times, serif;  
    text-align: center;
}


main {
    font-size: 150%;
    font-family: "Tomes New Roman", Times, serif;
    text-align: center;

}

header {
    font-size: 150%;
    font-family: "Tomes New Roman", Times, serif;
    text-align: center;
}
